<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <link rel="stylesheet" href="../Css/reset.css">
        <link rel="stylesheet" href="../Css/style.css">
        <link rel="stylesheet" href="../Css/header.css">
        <link rel="stylesheet" href="../Css/sidebar.css">
        <link rel="stylesheet" href="../Css/main.css">
        <link rel="stylesheet" href="../Css/footer.css">
        <link rel="stylesheet" href="../Css/login.css">
        <script src="../javascript/login.js"></script>
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <img src="../images/radiumrocketlogo.png" alt="radium-rocket-logo">
            <div class="track-logo">
                <h1>
                    TrackGenix
                </h1>
            </div>
            <img class="hamburguer-menu" src="../images/hamburguer-menu.png" alt="hamburguer-menu">
            <nav class="nav-main">
                <ul>
                    <li>
                        <a href="#features">Features</a>
                    </li>
                    <li>
                        <a href="#why-should">Why Should You Use Trackgenix</a>
                    </li>
                    <li>
                        <a href="#mission">History</a>
                    </li>
                    <li>
                        <a href="#products">Products</a>
                    </li>
                    <li>
                        <a href="#company">About Us</a>
                    </li>
                    <li>
                        <a href="#support">Support</a>
                    </li>
                </ul>
            </nav>
        </header>
        <aside class="sidebar">
            <form>
                <input type="search" placeholder="Search">
            </form>
            <h3>
                Menu
            </h3>
            <nav class="nav-aside">
                <ul>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="../views/sign-up.html">Sign up</a>
                    </li>
                    <li>
                        <a href="../views/login.html">Login</a>
                    </li>
                    <li>
                        <a href="../views/index.html#contact">Contact information</a>
                    </li>
                </ul>
            </nav>
            <img src="../images/radiumrocketlogo.png" alt="radium-rocket-logo">
            <p>
                Developed by GigaTech Software Solutions S.A.
            </p>
        </aside>
    <main id="main">
        <section class="inscription">
            <div class="inscription-div">
                <form class="form" id="login">
                    <h2 class="form-tittle">
                        Login
                    </h2>
                    <div class="form-input-group">
                        <input type="text" id="form-input-user" autofocus placeholder="Username or email">
                        <input type="password" id="form-input-password" autofocus placeholder="password">
                    <button id="form-button" type="submit">
                        Continue
                    </button>
                    <p class="form-text">
                        <a href="#" class="form-link">
                            Forgot your password?
                        </a>
                    </p>
                    <p class="form-text">
                        <a href="../views/sign-up.html" class="form-link">
                            Create account
                        </a>
                    </p>
                </div>
                </form>
            </div>
        </section>
    </main>
        <footer>
            <div class="footer">
                <a 
                    href="https://www.facebook.com"> <img src="../images/facebook.png" alt="facebook">
                </a>
                <a 
                    href="https://www.twitter.com"> <img src="../images/twitter.png" alt="twitter">
                </a>
                <a 
                    href="https://www.linkedin.com"> <img src="../images/linkedin.png" alt="linkedin">
                </a>
                <a 
                    href="https://www.Instagram.com"> <img src="../images/instagram.png" alt="instagram">
                </a>
            </div>
            <p>
                Rosario, Argentina
            </p>
            <p>
                Copyright © 2022 Gigatech Software Solutions. All right reserved.                                           
            </p>
        </footer>
        </body>
</html>