.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35%;
}

.inscription-div p{
    display: hidden
}
.form-input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: rgba(170, 206, 155, 0.53);
    border: 2px solid #00000070;
    border-radius: 20px;
    padding: 30px;
    font-size: 1.3rem;
}

.border-green{
    border: 2px;
    border-style: solid;
    border-color: green;
}

.border-red{
    border: 2px;
    border-style: solid;
    border-color: red;
}