body{    
    overflow-x: hidden;
    height: 100%;
    background-color: #fff;
    color: #373867;
    font-family: Roboto;
}
header{
    position:static;
    background-color: #373867;
    color: #46a07b;
    font-size: 30px;
    font-weight: bold;
    height: 91px;
    width: 100%;
    z-index: 1;
}

.body-header-image{
    height: 67px;
    width: 65px;
}
h1{
    position: relative;
    left: 650px;
    bottom: 120px;
}
nav{
    z-index: 1;
    color: #46a07b;
    font-size: 17px;
    position: relative;
    left: 350px;
    bottom: 137px;
    width: 100%;
}
.navigation ul{
    position: fixed;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navigation li {
  float: left;
}
.navigation li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  width: 160px;
  height: 55px;
  font-size: 20px;
  text-align: inherit;
}
aside{
    background-color: #EBECF0;
    color: #46a07b;
    position: fixed;
    height: 952px;
    width: 253px;
}
aside > menu{
    position: relative;
    top: 100px;
    width: 146px;
    height: 250px;
    font-size: 17px;
}
aside > img{
    position: relative;
    width: 66px;
    height: 75px;
    left: 50px;
    top: 500px;
}
aside > p{
    position: relative;
}
main > section > h2{
    position: relative;
    left: 600px;
    top: 200px;
    font-size: 50px;
    font-family: Roboto;
    border-style: solid;
    border-color: #0a0a0a;
    padding: 20px;
    margin: 20px;
    width: 307px;
    background-color: #46a07b;
}
main > section > h3{
    position: relative;
    font-size: 28.85px;
    width: 546px;
    height: 457,4px;
    left: 350px;
    top: 300px;
}
main > section > img{
    position: relative;
    left: 950px;
    top: 70px;
    width: 500px;
    height: 272.52px;
}
.aplication-feactures > h2{
    position: relative;
    left: 400px;
    top: 470px;
    width: 386px;
    height: 47px;
    font-size: 40px;
}
.hour-resource{
    position: relative;
    left: 400px;
    top: 500px;
    font-size: 30px;
}
.hour-resource > img{
    border-style: solid;
}
.reports-roles{
    position: relative;
    left: 900px;
    bottom: 220px;
    font-size: 30px;
}
.reports-roles > img{
    border-style: solid;
}
.wsyut > h2{
    position: relative;
    left: 400px;
    top: 100px;
    font-size: 40px;
}
.wsyut > div > h3{
    font-size: 30px;
}
.productivity-booster > h3{
    position: relative;
    top: 200px;
    left: 390px;
}
.productivity-booster > p{
    position: relative;
    top: 50px;
    left: 390px;
    width: 270px;
    height: 92px;
    font-size: 20px;
}
.productivity-booster > img{
    position: relative;
    left: 250px;
    top: 100px;
}
.leadership > h3{
    position: relative;
    top: 200px;
    left: 390px;
    width: 260px;
    height: 65px;
}
.leadership > p{
    position: relative;
    top: 80px;
    left: 390px;
    width: 350px;
    height: 168px;
    font-size: 20px;
}
.leadership > img{
    position: relative;
    left: 250px;
    top: 100px;
}
.work-traceability > h3{
    position: relative;
    bottom: 550px;
    left: 900px;
}
.work-traceability > p{
    position: relative;
    bottom: 680px;
    left: 900px;
    width: 275px;
    height: 48px;
    font-size: 20px;
}
.work-traceability > img{
    position: relative;
    bottom: 650px;
    left: 800px;
}
.decision-making > h3{
    position: relative;
    bottom: 500px;
    left: 900px;
}
.decision-making > p{
    position: relative;
    bottom: 650px;
    left: 900px;
    width: 275px;
    height: 48px;
    font-size: 20px;
}
.decision-making > img{
    position: relative;
    bottom: 600px;
    left: 800px;
}
.inscription-form > h2{
    position: relative;
    left: 370px;
    bottom: 200px;
}
.inscription-form > form{
    position: relative;
    left: 360px;
    bottom: 150px;
    width: 554px;
    height: 37px;
}
.companys-mission > h2{
    position: relative;
    left: 250px;
    top: 200px;
}
.company-image{
    position: relative;
    left: 1100px;
   
    width: 112px;
    height: 128.45px;
}
.company-where > h3{
    background-color: aqua;
    position: relative;
    top: 50px;
    width: 757px;
    height: 45px;
    left: 250px;
    font-size: 30px;
}
.company-where > h4{
    position: relative;
    left: 600px;
   top: 50px;
    width: 618px;
    height: 55px;
    font-size: 22px;
}
.company-where > p{
    position: relative;
    left: 550px;
    top: 30px;
}
.company-hear > h3{
    position: relative;
    left: 250px;
    top: 70px;
    width: 609px;
    height: 43px;
    font-size: 27.37px;
}
.company-hear > blockquote{
    position: relative;
    left: 250px;
    top: 50px;
    font-size: 17.25px;
}
article > h2{
    position: relative;
    left: 250px;
    top: 100px;
    width: 116px;
    height: 29px;
    font-size: 24px;
}
article > p{
    position: relative;
    left: 250px;
   top: 100px;
    width: 769px;
}
article > img{
    position: relative;
    left: 1100px;
    bottom: 100px;
    width: 363px;
    height: 251px;
}
.image-products{
    width: 384px;
    height: 284px;
}
.our-products > h2{
    position: relative;
    left: 350px;
    top: 150px;
}
.employee-app{
    position: relative;
    left: 300px;
    top: 200px;
    
}
.employee-app > h3{
    position: relative;
    width: 324px;
    height: 60.85px;
    font-size: 22.5px;
}
.employee-app > p{
    width: 324px;
}
.customized-well{
    position: relative;
    left: 850px;
    bottom: 900px;
}
.customized-well > h3{
    position: relative;
    width: 324px;
    height: 60.85px;
    font-size: 22.5px;
}
.customized-well > p{
    width: 324px;
}
.section-company > h2{
    position: relative;
    left: 250px;
    bottom: 650px;
}
.company-building > img{
    position: relative;
    left: 250px;
    bottom: 650px;
}
.company-building > h3{
    position: relative;
    left: 750px;
    bottom: 600px;
    font-size: 26px;
}
.company-building > p{
    position: relative;
    left: 750px;
    bottom: 950px;
    width: 507px;
    height: 75px;
    font-size: 21px;
}
.company-inclusive{
    position: relative;
    left: 250px;
    bottom: 600px;
}
.company-inclusive > img{
    position: relative;
    left: 550px;
    bottom: 50px;
}
.company-inclusive > h3{
    position: relative;
    left: 100px;
    font-size: 26px;
}
.company-inclusive > p{
    position: relative;
    bottom: 300px;
    width: 540px;
    height: 135px;
    font-size: 20px;
}
.company-workplace{
    position: relative;
    left: 250px;
   bottom: 750px;
}
.company-workplace > h3{
    position: relative;
    left: 500px;
    top: 50px;
}
.company-workplace > p{
    position: relative;
    left: 500px;
   bottom: 250px;
    width: 520px;
    height: 168px;
}
.support{
    position: relative;
    bottom: 700px;
    left: 300px;
    display: inline-block;
    width: 50%;
}
.phone-support p{
    width: 448px;
    height: 69px;   
}
.hs-support{
    position: relative;
    left: 800px;
    bottom: 390px;
}
.tutorials{
    position: relative;
    left: 300px;
    bottom: 800px;
    width: 926px;
    height: 184px;
}