footer{
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-around;
    background: #373867;
}
@media (min-width: 768px){
    footer{
    margin-left: min(30%, 320px);
    }
}