header{
    background-color: brown;
}
header h1{
    position: fixed;
    background-color: aqua;
    color: #46a07b;
    font-size: 3em;
    top: 20px;
    left: 95px;
}
header img{
    width: 58.66px;
    height: 67px;
}
.navigation{
    display: none;
}