header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0%;
    background-color: #373867;
    z-index: 1;
    width: 100%;
}
header h1{
    color: #46a07b;
    font-size: 3rem;
    font-weight: bold;
}
header img{
    width: 58.66px;
    height: 67px;
}
@media only screen and (max-width: 734px) {
    .nav-main {
      display: none;
    }
}