#home h2{
    position: relative;
    top: 10px;
    left: 90px;
    width: 184px;
    font-size: 3.8em;
    border: 1px;
    border-style: solid;
    background-color: aqua;
}
#home img{
    position: relative;
    bottom: 10px;

}