.sidebar{
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  top: 91px;
  height: 100%;
  border: 1px;
  border-style: solid;
  align-items: center;
  background-color: #EBECF0;
}
.sidebar h3{
  font-size: 1.8rem;
  font-weight: bold;
}
@media (min-width: 768px) {
    .sidebar {
      display: flex;
    }
}