.sidebar{
  height: 952px;
  position: fixed;
  border: 1px;
  margin-top: 8.5%;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #EBECF0;
}
@media (max-width: 734px) {
    .sidebar {
      display: none;
    }
}