html{
    overflow-x: hidden;
    font-family: 'Roboto';
    font-size: 62.5%
}

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
}
body img{
    max-width: 300px;
}
